<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "za.co.meeser.inglenook"
		versionCode="1"
		version   = "1.0">
		<name>Inglenook Farm</name>
		<description>Buy fresh produce straight from the farm.</description>
		<author href="meeser.co.za" email="grant@meeser.co.za">G.Meeser</author>
		<!--<preference name="phonegap-version" value="3.3.0" />-->
		<preference name="orientation" value="portrait" />
		<preference name="target-device" value="universal" />
		<preference name="fullscreen" value="false" />
		<preference name="webviewbounce" value="false" />
		<preference name="DisallowOverscroll" value="true"/>
		<preference name="disallowOverscroll" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="SplashShowOnlyFirstTime" value="true" />
		<!--<preference name="SplashScreenDelay" value="500" />-->
		<preference name="disable-cursor" value="false" />
		<preference name="android-minSdkVersion" value="14" />
		<preference name="android-targetSdkVersion" value="14" />
		<preference name="android-installLocation" value="auto" />
		<preference name="splash-screen-duration" value="5000" />
		<preference name="load-url-timeout" value="20000" />
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="BackgroundColor" value="0xffffffff "/>

		<gap:platform name="android">
			<access origin="*" />
			<allow-intent href="*" />
			<allow-navigation href="*" />
		</gap:platform>

		<gap:plugin name="cordova-plugin-whitelist" source="npm" />
		
		<icon src="icon.png" />
		
		<icon src="res/icon/Logo_36.png" gap:density="ldpi" platform="android" />
		<icon src="res/icon/Logo_48.png" gap:density="mdpi" platform="android" />
		<icon src="res/icon/Logo_72.png" gap:density="hdpi" platform="android" />
		<icon src="res/icon/Logo_96.png" gap:density="xhdpi" platform="android" />
		<icon src="res/icon/Logo_144.png" gap:density="xxhdpi" platform="android" />
		
		<icon src="res/icon/Logo_36.png" width="36" height="36" platform="ios" />
		<icon src="res/icon/Logo_48.png" width="48" height="48" platform="ios" />
		<icon src="res/icon/Logo_72.png" width="72" height="72" platform="ios" />
		<icon src="res/icon/Logo_96.png" width="96" height="96" platform="ios" />
		<icon src="res/icon/Logo_144.png" width="144" height="144" platform="ios" />

		<splash src="splash.png" />
		<!--
		<gap:splash src="res/screen/android/screen-ldpi-portrait.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="res/screen/android/screen-mdpi-portrait.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="res/screen/android/screen-hdpi-portrait.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
		<gap:splash src="res/screen/android/screen-xxhdpi-portrait.png" gap:platform="android" gap:density="xxhdpi" />
		-->
		
		<access origin="*" subdomains="true" />
	</widget>
